tmp/*
main
*.zip
.test-env
wkhtmltopdf
*.sql
.elasticbeanstalk
.ebignore
build.sh
Buildfile
Dockerrun.aws.json
Procfile












# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
